{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "quoteProps": "consistent",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "printWidth": 100
}
